@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;

  --font-heading: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-body: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;

  --text-sm: 0.75rem;
  --text-base: 1rem;
  --text-xl: 1.333rem;
  --text-2xl: 1.777rem;
  --text-3xl: 2.369rem;
  --text-4xl: 3.158rem;
  --text-5xl: 4.21rem;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --color-text: var(--text);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-text-50: var(--text-50);
  --color-text-100: var(--text-100);
  --color-text-200: var(--text-200);
  --color-text-300: var(--text-300);
  --color-text-400: var(--text-400);
  --color-text-500: var(--text-500);
  --color-text-600: var(--text-600);
  --color-text-700: var(--text-700);
  --color-text-800: var(--text-800);
  --color-text-900: var(--text-900);
  --color-text-950: var(--text-950);

  --color-background-50: var(--background-50);
  --color-background-100: var(--background-100);
  --color-background-200: var(--background-200);
  --color-background-300: var(--background-300);
  --color-background-400: var(--background-400);
  --color-background-500: var(--background-500);
  --color-background-600: var(--background-600);
  --color-background-700: var(--background-700);
  --color-background-800: var(--background-800);
  --color-background-900: var(--background-900);
  --color-background-950: var(--background-950);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);

  --color-accent-50: var(--accent-50);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-accent-600: var(--accent-600);
  --color-accent-700: var(--accent-700);
  --color-accent-800: var(--accent-800);
  --color-accent-900: var(--accent-900);
  --color-accent-950: var(--accent-950);
}

@layer base {
  html,
  body,
  #root {
    @apply min-h-screen bg-background font-sans text-text;
  }

  :root {
    --text: #67413c;
    --background: #f9efd6;
    --primary: #790a00;
    --secondary: #7cac35;
    --accent: #dfa81e;

    --text-50: #f6f0ef;
    --text-100: #ece0df;
    --text-200: #d9c2bf;
    --text-300: #c6a39f;
    --text-400: #b4857e;
    --text-500: #a1665e;
    --text-600: #81524b;
    --text-700: #603d39;
    --text-800: #402926;
    --text-900: #201413;
    --text-950: #100a09;

    --background-50: #fcf6e9;
    --background-100: #f8eed3;
    --background-200: #f2dca6;
    --background-300: #ebcb7a;
    --background-400: #e4ba4e;
    --background-500: #dea821;
    --background-600: #b1871b;
    --background-700: #856514;
    --background-800: #59430d;
    --background-900: #2c2207;
    --background-950: #161103;

    --primary-50: #ffe8e5;
    --primary-100: #ffd0cc;
    --primary-200: #ffa299;
    --primary-300: #ff7366;
    --primary-400: #ff4433;
    --primary-500: #ff1500;
    --primary-600: #cc1100;
    --primary-700: #990d00;
    --primary-800: #660900;
    --primary-900: #330400;
    --primary-950: #1a0200;

    --secondary-50: #f4f9eb;
    --secondary-100: #e8f3d8;
    --secondary-200: #d1e7b1;
    --secondary-300: #bbdb8a;
    --secondary-400: #a4cf63;
    --secondary-500: #8dc33c;
    --secondary-600: #719c30;
    --secondary-700: #557524;
    --secondary-800: #384e18;
    --secondary-900: #1c270c;
    --secondary-950: #0e1406;

    --accent-50: #fcf6e9;
    --accent-100: #f9eed2;
    --accent-200: #f3dda5;
    --accent-300: #edcc78;
    --accent-400: #e7bb4b;
    --accent-500: #e0a91f;
    --accent-600: #b48818;
    --accent-700: #876612;
    --accent-800: #5a440c;
    --accent-900: #2d2206;
    --accent-950: #161103;
  }

  .dark {
    --text: #c39d98;
    --background: #281e06;
    --primary: #ff8f85;
    --secondary: #9bca53;
    --accent: #e0a91f;

    --text-50: #100a09;
    --text-100: #201413;
    --text-200: #402926;
    --text-300: #603d39;
    --text-400: #81524b;
    --text-500: #a1665e;
    --text-600: #b4857e;
    --text-700: #c6a39f;
    --text-800: #d9c2bf;
    --text-900: #ece0df;
    --text-950: #f6f0ef;

    --background-50: #161103;
    --background-100: #2c2107;
    --background-200: #59420d;
    --background-300: #856314;
    --background-400: #b1841b;
    --background-500: #dea521;
    --background-600: #e4b74e;
    --background-700: #ebc97a;
    --background-800: #f2dba6;
    --background-900: #f8edd3;
    --background-950: #fcf6e9;

    --primary-50: #1a0200;
    --primary-100: #330400;
    --primary-200: #660900;
    --primary-300: #990d00;
    --primary-400: #cc1100;
    --primary-500: #ff1500;
    --primary-600: #ff4433;
    --primary-700: #ff7366;
    --primary-800: #ffa299;
    --primary-900: #ffd0cc;
    --primary-950: #ffe8e5;

    --secondary-50: #0e1406;
    --secondary-100: #1c270c;
    --secondary-200: #384e18;
    --secondary-300: #557524;
    --secondary-400: #719c30;
    --secondary-500: #8dc33c;
    --secondary-600: #a4cf63;
    --secondary-700: #bbdb8a;
    --secondary-800: #d1e7b1;
    --secondary-900: #e8f3d8;
    --secondary-950: #f4f9eb;

    --accent-50: #161103;
    --accent-100: #2d2206;
    --accent-200: #5a440c;
    --accent-300: #876612;
    --accent-400: #b48818;
    --accent-500: #e0a91f;
    --accent-600: #e7bb4b;
    --accent-700: #edcc78;
    --accent-800: #f3dda5;
    --accent-900: #f9eed2;
    --accent-950: #fcf6e9;
  }
}
